
    <!-- Main content  SUPPORT -->
    <section class="content">
        <div class="row">

            <div class="col-md-12">

                <div class="box box-primary">


                    <form class="form"
                			method="post"
                			action="/support/send_mail?_method=put">



                        <div class="box-header with-border">
                            <h3 class="box-title">Solicitud de Soporte</h3>
                            <h5>Estimado <%= user.username %> - <%= user.centro %>, describa a continuación cualquier sugerencia, problema o necesidad de información.</h5>
                        </div>

                        <div class="box-body">

                            <div class="form-group">
                                <input class="form-control" placeholder="Motivo" id="subject" name="subject" required>
                            </div>

                            <div class="form-group">
                                <textarea id="compose-textarea" class="form-control" name="text" style="height: 300px">

                                    <ul>
                                        <li>Usuario: <%= user.username %></li>
                                        <li>Centro: <%= user.centro %></li>
                                        <li>Fecha de la incidencia: <%= fecha %></li>
                                    </ul>
                                    <h4>Detalle aquí el motivo de la incidencia.</h4>

                                </textarea>
                            </div>

                            <!-- <div class="form-group">
                                <div class="btn btn-default btn-file">
                                    <i class="fa fa-paperclip"></i> Attachment
                                    <input type="file" name="attachment">
                                </div>
                                <p class="help-block">Max. 32MB</p>
                            </div> -->

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">

                            <div class="pull-right">
                                <!-- <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Draft</button> -->
                                <button type="submit" class="btn btn-primary" href="/support/send_mail"><i class="fa fa-envelope-o"></i> Enviar</button>
                            </div>

                            <!-- <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Discard</button> -->

                        </div>


                    </form>

                    <div class="box-footer">

                        <p>Si lo desea, puede enviarnos archivos en relación a su incidencia.</p>
                        <form class="form" action="/support/upload" method='post' enctype='multipart/form-data'>
                           <input type="file" class="btn btn-primary" name='archivo'>
                           <br>
                           <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Enviar</button>
                        </form>


                    </div>

                </div>

            </div>

        </div>

    </section>

    <script>
      $(function () {
        //Add text editor
        $("#compose-textarea").wysihtml5();
      });
    </script>
